{% extends "base.html" %}
{% block content %}
  <form>
	<div>
	<a class="btn btn-primary btn-block" href="{{url_for('admin.configure_parking_lots')}}">Configure Parking Lots</a>
	<a class="btn btn-primary btn-block" href="{{url_for('admin.view_utilization')}}">View Utilization</a>
	<a class="btn btn-primary btn-block" href="{{url_for('admin.view_update_prices')}}">View / Update Prices</a>
	<a class="btn btn-primary btn-block" href="{{url_for('authentication.logout')}}">Log Out</a>
	</div>
  </form>
{% endblock %}
