{% extends "base.html" %}
{% block content %}
<style>
.charge_cell {
        width: 50px;
        padding: 0px;
        text-align: center;
}


</style>
<form method=get>
	<div style="margin-bottom:20px">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{url_for('admin.show_dashboard')}}">Dashboard</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('authentication.logout')}}">Log Out</a>
				</li>
			</ul>
		</div>
	</nav>
	</div>

	<h5>View Price Snapshot for: </h5>
	<div class="input-group" style="margin-bottom:20px">
		<div class="input-group-prepend">
			<label class="input-group-text" for="pl">Parking Lot</label>
		</div>
		<select class="custom-select" name="pl" required>
		{% for item in parkinglotList %}
			{% if item == spl %}
				<option selected>{{item}}</option>
			{% else %}
				<option>{{item}}</option>
			{% endif %}
		{% endfor %}
		</select>
	</div>

	<div class="input-group" style="margin-bottom:20px">
		<button class="btn btn-primary btn-block" type="submit">View PriceSnapshot</button>
	</div>

  </form>

	{% if priceDataPresent %}
	<div>
		<h2>{{parkinglotname}}</h2>
		<table id='price_table'>
				<tr>
                    {% for hour in hoursList  %}
					    <th style="text-weight: bold;"> {{hour}} </th>
					{% endfor %}
				</tr>
			{% for day in pricesnapshot %}
				<tr>
					<th> {{daysList[loop.index-1]}} </th>
					{% for hour in day %}
						<td class='charge_cell'> {{hour}} </td>
					{% endfor %}
				</tr>
			{% endfor %}
		</table>
	    <div class="input-group" style="margin-bottom:20px">
	    	<button name="button" class="btn btn-primary btn-block" type="submit" style="display:none;" id="updatePriceButton" onclick="submit_prices();">Update Prices</button>
	    </div>
	</div>
	{% endif %}

	{% if message %}
	<div>
		<p><b> NOTE: {{message}} </b></h3>
	</div>
	{% endif %}

	<script>
        var count = 0;
        var class_name = "thVal" + count;
			$(function () {
		    $(".charge_cell").dblclick(function (e) {
                count += 1;
		        e.stopPropagation();
		        var currentEle = $(this);
		        var value = $(this).html();
		        updateVal(currentEle, value);
		    });
		});

		function updateVal(currentEle, value) {
            console.log(class_name);
		    $(currentEle).html('<input class="' + class_name + '" type="text" style="width:100%;" value="' + value.trim() + '" />');
		    $("." + class_name).focus();
		    $("." + class_name).keyup(function (event) {
		        if (event.keyCode == 13) {

                    // Show the update price button if the value changed
                    var value2 = $("." + class_name).val().trim();

                    $(currentEle).html(value2);
                    if (parseInt(value) != parseInt(value2)) {
                        $("#updatePriceButton")[0].style.display = ""
                    }

                    //$("." + class_name).remove();
                    return false;
		        }
		    });

		    $(document).click(function () {
		            //$(currentEle).html($("." + class_name).val().trim());
                    //$("." + class_name).remove();
		    });

		}

        function submit_prices() {
			var jqxhr = $.post("/admin/viewUpdatePrices", {price_snapshot: ">>>sdfsdfsdf<<<"}, function() {
			  alert( "success" );
			})
			  .done(function() {
			    alert( "second success" );
			  })
			  .fail(function() {
			    alert( "error" );
			  })
			  .always(function() {
			    alert( "finished" );
			  });
        }

  </script>
{% endblock %}
