{% extends "base.html" %}
{% block content %}

<body>


<div style="margin-bottom:20px">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
	<li class="nav-item active">
	  <a class="nav-link" href="{{url_for('client.show_home')}}">Home</a>
	</li>
	<li class="nav-item">
	  <a class="nav-link" href="{{url_for('authentication.logout')}}">Log Out</a>
	</li>
      </ul>
    </div>
  </nav>
</div>


{% if errorMsg %}

<div class="alert alert-danger" role="alert">
  {{errorMsg}}
</div>
{% endif %}


<form action ="{{ url_for('client.exit_processing') }}" method = "post">

  Input Token Id:<br/>
  <input type="text" name="token_id" style="margin-bottom:20px">
  <br/>

  Input Payment Method:<br/>
  <select class="custom-select" name="pay_method" required>
    <option value = "Cash">Cash</option>
    <option value = "Online">Online</option>
  </select>
  <br/>
  <br/>
  <div class="input-group" style="margin-bottom:20px">
    <button name="button" class="btn btn-primary btn-block" type="submit">Submit</button>
  </div>


</form>
</body>
{% endblock %}
