{% extends "base.html" %}
{% block content %}


<form action ="{{ url_for('client.exit_processing') }}" method = "post">

  Input Token Id:<br/>
  <input type="text" name="token_id">
  <br/>
  
  Input Payment Method:<br/>
  <select class="custom-select" name="pay_method" required>
    <option value = "Cash">Cash</option>
    <option value = "Online">Online</option>
  </select>
  <br/>
  
  <input type="submit">
  
</form>

{% if is_error %}

<br/>
<h5>Error:</h5>
<em>{{msg}}</em>

{% endif %}
<br/>
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="{{url_for('client.show_home')}}">Print</a>
  </li>
</ul>


{% endblock %}
