{% extends "base.html" %}
{% block content %}


<form>
<div>

<div class="line"></div>

  <table>
    <tr>
      <td>
        <span >Token id</span>
      </td>
      <td>
        <button type="button" class="btn btn-info">{{tokenId}}</button>
      </td>
    </tr>
    <tr>
      <td>
        <span>Entry Time</span>
      </td>
      <td>
        <button type="button" class="btn btn-info">{{entryTime}}</button>
      </td>
    </tr>
    <tr>
      <td>
        <span>ParkingLot Name</span>
      </td>
      <td>
        <button type="button" class="btn btn-info">{{plName}}</button>
      </td>
    </tr>
    <tr>
      <td>
        <span>ParkingLot Address</span>
      </td>
      <td>
        <button type="button" class="btn btn-info">{{plAddress}}</button>
      </td>
    </tr>
    <tr>
      <td>
        <span>Opeator Id</span>
      </td>
      <td>
        <button type="button" class="btn btn-info">{{operatorId}}</button>
      </td>
    </tr>
  </table>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{{url_for('client.show_home')}}">Print</a>
    </li>
  </ul>

  </div>
  </form>

{% endblock %}
